<div class="modal">
  <div class="modal-header">
    {{#if isNew}}
      Create Allocation
    {{else}}
      Editing Allocation
    {{/if}}
    <span class="close-x" {{action "close"}}>&#10060;</span>
  </div>

  <form {{action "save" on="submit"}}>
    <div class="modal-body">
      <div class="{{if errors.project "error"}} field">
        <label><i>&#128710;</i> Project</label>
        {{simple-select
          class="white-button"
          content=projects
          selection=project
          prompt="Select a project"
          action=(action (mut project))}}
        {{errors.project}}
      </div>

      <div class="{{if errors.likelihood "error"}} field">
        <label><i>&#59140;</i> Likelihood of Close (%)</label>
        {{#simple-select
          class="white-button"
          content=likelihoodOptions
          selection=likelihood
          prompt="Select a value"
          action=(action (mut likelihood)) as |item|}}
          {{item}}
        {{/simple-select}}
        {{errors.likelihood}}
      </div>

      <div class="{{if errors.person "error"}} field">
        <label><i>&#128100;</i> Person</label>
        {{!--
          {{view "select" class="white-button" contentBinding="peopleAndRoles"
                              optionLabelPath="content.name"
                              optionValuePath="content.id"
                              optionGroupPath="group"
                              selection=personOrRoleSelection
                              prompt="Select a person or role"}}
        --}}
        {{simple-select
          class="white-button"
          content=peopleAndRoles
          selection=personOrRoleSelection
          prompt="Select a value"
          action=(action (mut personOrRoleSelection))}}
        {{errors.person}}
      </div>

      <div class="field">
        <div class="{{if errors.startDate "error"}} field inline">
          <label><i>&#128197;</i> Start Date</label>
          {{date-picker name="startDate" class="start-date" value=formStartDate}}
          {{errors.startDate}}
        </div>
        <span class="range inline">&#8211;</span>
        <div class="{{if errors.endDate "error"}} field inline">
          <label>End Date</label>
          {{date-picker name="endDate" class="end-date" value=formEndDate}}
          {{errors.endDate}}
        </div>
      </div>

      <div class="field options">
        {{#unless project.vacation}}
          <div class="{{if errors.billable "error"}} field option">
            <label>{{input type="checkbox" checked=billable}}Billable<span></span></label>
            {{errors.billable}}
          </div>
          {{input type="hidden" checked=binding}}
        {{/unless}}
      </div>

      <div class="{{if errors.percentAllocated "error"}} field">
        <label><i>&#9716;</i> Allocation %{{input type="text" value=percentAllocated }}</label>
        {{errors.percentAllocated}}
      </div>

      <div data-test="notes" class="{{if errors.notes "error"}} field">
        <label><i>&#9998;</i> Notes</label>
        {{textarea value=notes}}
        {{errors.notes}}
      </div>
    </div>

    <div class="modal-footer">
      <button class="blue-button" type="submit" disabled="{{if shouldDisableSubmit}}">Save</button>
      <button class="white-button" {{action "close"}}>Cancel</button>
      {{#if canDelete}}
        <a href="#" class="delete" {{action "delete"}}>Delete</a>
      {{/if}}
      {{#if isSaving}}
        Saving...
      {{/if}}
    </div>
  </form>
</div>
<div class=modal-backdrop></div>
