<div class="allocation-content" title="{{hint}}">
  {{#if person}}
    <span class="allocation-identifier">{{ person.name }}</span>
  {{/if}}

  {{#if isExternal}}
    <em>({{office.name}})</em>
  {{/if}}

  {{#if isPartial}}
    <span>@{{percentAllocated}}%</span>
  {{/if}}
  <span class="allocation-range">{{ short-date startDate }} - {{ short-date endDate }}</span>
</div>
