<div class="calendar-date-selector">
  {{#if isEditingDate}}
    {{edit-date class="datepicker" action="confirmDate" escape-press="confirmDate"}}
  {{else}}
    <span {{action "editDate" on="click"}}>
      <i class="cal">&#128197;</i>
      <span>{{firstDate}}</span>
      <i class="dropdown">&#59236;</i>
    </span>
  {{/if}}
</div>

<ul class="calendar">
  {{#each dateRange as |date|}}
    <li class="week">{{date}}</li>
  {{/each}}
</ul>
