<article class="project" data-project-id="{{id}}" style={{projectHeight}}>
  <div class="project-allocations">
    {{#each currentAllocations as |boxModel|}}
      {{#allocation-box allocation=boxModel.content
                        index=boxModel.index
                        currentOffice=currentOffice
                        clicked="quickView"
                        doubleClicked="editAllocation"
                        currentMonday=currentMonday}}

        {{#unless boxModel.vacation}}
          {{#each boxModel.conflicts as |conflict|}}
            {{conflict-box conflict=conflict parentOffset=startOffset}}
          {{/each}}
        {{/unless}}

        <div class="allocation-content" title="{{track.hint}}">
          <span class="allocation-identifier">{{ boxModel.identifier }}</span>

          {{#if boxModel.isExternal}}
            <em>({{boxModel.person.office.name}})</em>
          {{/if}}

          {{#if boxModel.isPartial}}
            <span>@{{boxModel.percentAllocated}}%</span>
          {{/if}}

          <span class="allocation-range">
            {{short-date boxModel.startDate}} - {{short-date boxModel.endDate}}
            {{#if boxModel.likelihood}}
              ({{boxModel.likelihood}})
            {{/if}}
          </span>
        </div>
      {{/allocation-box}}
    {{/each}}
  </div>

  {{#project-edit class="project-descriptor" editProject="editProject"}}
    <a href="{{showUrl}}" class="text-link">{{ project.name }}</a>
    <div class="project-controls">
      <i class="add-allocation" {{action "addAllocation"}}>&#10133;</i>
    </div>
  {{/project-edit}}
</article>
