<article class="person" data-person-id="{{id}}" style={{personHeight}}>
  <div class="person-allocations">
    {{#each currentAllocations as |boxModel|}}
      {{#allocation-box allocation=boxModel.content
                        index=boxModel.index
                        currentOffice=currentOffice
                        clicked="quickView"
                        doubleClicked="editAllocation"
                        currentMonday=currentMonday}}

        <div class="allocation-content" title="{{boxModel.hint}}">
          {{#if boxModel.project}}
            <span class="allocation-identifier">{{ boxModel.project.name }}</span>
          {{/if}}

          {{#if boxModel.isPartial}}
            <span>@{{boxModel.percentAllocated}}%</span>
          {{/if}}
          <span class="allocation-range">{{ short-date boxModel.startDate }} - {{ short-date boxModel.endDate }}</span>
        </div>
      {{/allocation-box}}
    {{/each}}
  </div>

  {{#person-edit class="person-descriptor" editPerson="editPerson"}}
    <a href="{{{editUrl}}}" class="text-link" >{{ model.name }}</a>
    <div class="person-controls">
      <i class="add-allocation" {{action "addAllocation"}}>&#10133;</i>
    </div>
  {{/person-edit}}
</article>
