<div class="modal">

  <div class="modal-header">
    Allocation: {{project.name}}
    <span class="close-x" {{action close}}>&#10060;</span>
  </div>

  <div class="modal-body">
    <h3><i>&#128100;</i> {{person.name}}</h3>
    <h3><i>&#128197;</i> {{startDate}} - {{endDate}}</h3>
    <h3><i>&#59249;</i> {{status}}</h3>
    <h3><i>&#9716;</i> {{percentAllocated}}% Allocated</h3>
    {{#if notes}}
      <h3><i>&#9998;</i> {{notes}}</h3>
    {{/if}}
  </div>

  <div class="modal-footer">
    <button class="blue-button" {{action edit model}}>Edit</button>
    <button class="white-button" {{action close}}>Cancel</button>
  </div>

</div>
