<header class="some-office">
  <section class="nav-bar">
    <div class="faux-select">
      <div class="faux-select-box">
        <span class="faux-select-selected">{{model.name}}</span>
        <span class="faux-select-graphic">&#x25BE;</span>
      </div>

      {{simple-select
        class="faux-select-element"
        content=allActive
        selection=model
        action=(action (mut model))}}
    </div>

    <div class="add-project">
      <a class="add-project-button" href="{{newProjectUrl}}">+ Add Project</a>
    </div>

    {{nav-bar}}
  </section>

  {{calendar-bar action="selectDate" resize="resize"}}
</header>

{{outlet}}
