{{#view "person-allocations"}}
  <article class="person" {{bind-attr data-person-id="id"}} {{bind-attr style="personHeight"}}>
    <div class="person-allocations">
      {{#each track in currentAllocations}}
        {{#allocation-box allocation=track.allocation
                         index=track.index
                         currentOffice=currentOffice
                         clicked="quickView"
                         doubleClicked="editAllocation"
                         currentMonday=currentMonday}}
          <div class="allocation-content" {{bind-attr title="track.hint"}}>
            {{#if track.allocation.project}}
              <span class="allocation-identifier">{{ track.allocation.project.name }}</span>
            {{/if}}

            {{#if track.isPartial}}
              <span>@{{track.allocation.percentAllocated}}%</span>
            {{/if}}
            <span class="allocation-range">{{ short-date track.allocation.startDate }} - {{ short-date track.allocation.endDate }}</span>
          </div>
        {{/allocation-box}}
      {{/each}}
    </div>

    {{#view "person-edit" class="person-descriptor"}}
    <a {{bind-attr href="editUrl"}} class="text-link" >{{ name }}</a>
      <div class="person-controls">
        <i class="add-allocation" {{action "addAllocation"}}>&#10133;</i>
      </div>
    {{/view}}
  </article>
{{/view}}
