{{#view "person-allocations"}}
  <article class="person" {{bind-attr data-person-id="id"}} {{bind-attr style="personHeight"}}>
    <div class="person-allocations">
      {{#each allocation in currentAllocations}}
        {{ render "person_allocation" allocation }}
      {{/each}}
    </div>

    {{#view "person-edit" class="person-descriptor"}}
    <a {{bind-attr href="editUrl"}} class="text-link" >{{ name }}</a>
      <div class="person-controls">
        <i class="add-allocation" {{action "addAllocation"}}>&#10133;</i>
      </div>
    {{/view}}
  </article>
{{/view}}
