{{#view "project-allocations"}}
  <article class="project" {{bind-attr data-project-id="id"}} {{bind-attr style="projectHeight"}}>
    <div class="project-allocations">
      {{#each allocation in currentAllocations}}
        {{ render "allocation" allocation }}
      {{/each}}
    </div>

    {{#view "project-edit" class="project-descriptor"}}
      <a {{bind-attr href="showUrl"}} class="text-link">{{ name }}</a>
      <div class="project-controls">
        <a {{bind-attr href="showUrl"}}><i class="edit-project" >&#9874;</i></a>
        <i class="add-allocation" {{action "addAllocation"}}>&#10133;</i>
      </div>
    {{/view}}
  </article>
{{/view}}
