<section id="projectList">
  {{#each project in model}}
    {{#if project.availableProject}}
      {{available-project project=project selectedOffice=office}}
    {{else}}
      {{#if project.dummyProject}}
        {{ render 'dummy-project' project }}
      {{else}}
        {{t2-project
          model=project
          currentOffice=office
          lastLikelihood=lastLikelihood
          lastEndDate=lastEndDate}}
      {{/if}}
    {{/if}}
  {{/each}}
</section>
