<section id="projectList">
  {{#each sortedProjects as |project|}}
    {{#if project.availableProject}}
      {{available-project project=project selectedOffice=office}}
    {{else}}
      {{#if project.dummyProject}}
        {{dummy-project project=project}}
      {{else}}
        {{t2-project
          project=project
          currentOffice=office
          lastLikelihood=lastLikelihood
          quickView="quickView"
          editProject="editProject"
          editAllocation="editAllocation"
          createAllocation="createAllocation"
          lastEndDate=lastEndDate}}
      {{/if}}
    {{/if}}
  {{/each}}
</section>
