<section id="projectList">
  {{#each sortedProjects as |project|}}
    {{#if project.availableProject}}
      {{available-project project=project selectedOffice=office}}
    {{else}}
      {{#if project.dummyProject}}
        {{dummy-project project=project}}
      {{else}}
        {{t2-project
          project=project
          currentOffice=office
          lastLikelihood=lastLikelihood
          lastEndDate=lastEndDate
          editProject="editProject"}}
      {{/if}}
    {{/if}}
  {{/each}}
</section>
